html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #eee;
  margin: 0;
}

.calendar__monthwrapper {
  margin: 0 auto;
  width: calc(100% - 1rem);
  header {
    .calendar__monthlabel {
      margin: 0;
    }
  }

  .calendar__monthbody {
    background: #FFF;
    border: 1px solid #ddd;
    position: relative;
    .calendar__weekdays {

      .calendar__lblday {
        box-sizing: border-box;
        border-right: 2px solid #ddd;
        text-align: left;
        padding: 0.2rem 0.5rem 0 0.5rem;
        width: calc(100% / 5);
      }
    }

    .calendar__weekrow {
      align-items: stretch;
      flex-flow: row wrap;
      height: calc(100vh / 5);
      justify-content: space-around;

      .day {
        border-bottom: 2px solid #ddd;
        border-right: 2px solid #ddd;
        box-sizing: border-box;
        padding: 0.5rem 0 0.5rem 0.5rem;
        width: calc(100% / 5);
        &.emptyday {
          background: rgba(255, 0, 0, .3);
        }
        &.today {
          border: 1px solid #1a5fff;
          .calendar__daynumber {
            color: #1a5fff;
          }
        }
        .dayheader {
          position: relative;
          .calendar__daynumber {
            box-sizing: border-box;
            display: inline-block;
            text-align: left;
            max-height: 1rem;
            padding-bottom: 0.3rem;
          }
          .more-handler{
            position: absolute;
            right: 0;
            top:0;
          }
        }
        .droppable-container {
          margin-top: 3px;
          height: calc(100% - 1rem);
          width: 100%;
          overflow: hidden;
          &.hover {
            background: #f0f0f0;
          }
        }
      }
    }

    .calendar__dayover {
      background: #FFF;
      border: none;
      box-shadow: 0px 0px 5px #ccc;
      height: auto;
      padding: 0.8rem 0.5rem;
      position: absolute;
      width: calc(100vw / 5);
      header {
        position: relative;
        .lbl__fecha {
          margin: 0 0 0.5rem 0;
        }

        .close__btn {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}

.evento {
  background: #ccc;
  font-size: 0.8rem;
  margin-bottom: 3px;
  p {
    margin: 0;
    white-space: nowrap;
  }
}

.currentday {
  background: green;
}

.font0 {
  font-size: 0;
}

.font0 > * {
  font-size: 1rem;
}

#calendario {
  margin: 0 auto;
  /*width: calc(100% - 4rem);*/
}

.day {
  height: 100%;
}

.droppable-container > * {
  display: block;
  width: 100%;
}

.day.hover {
  background: aqua;
}

.day:first-child {
  border-left: none;
}

.day:nth-child(6) {
  border-right: none;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.hide {
  display: none;
}